<div class='panel panel-primary'>
    <div class='panel-heading'>
        Drink Management
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px"><button class="btn btn-primary" (click)="addDrink()">Add</button></div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading">Loading...</div>
            <div *ngIf='drinks && drinks.length==0' class="alert alert-info" role="alert">No drink found!</div>
            <table class='table table-striped' *ngIf='drinks && drinks.length'>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let drink of drinks">
                        <td>{{drink.Id}}</td>
                        <td>{{drink.Name}}</td>
                        <td>{{drink.Price}}</td>
                        <td>
                            <button title="Edit" class="btn btn-primary" (click)="editDrink(drink.Id)">Edit</button>
                            <button title="Delete" class="btn btn-danger" (click)="deleteDrink(drink.Id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(drinkForm)" [formGroup]="drinkForm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>

            <div class="form-group">
                <div>
                    <span>Drink Name</span>
                    <input type="text" class="form-control" placeholder="Drink Name" formControlName="Name">
                </div>
                <div>
                    <span>Price</span>
                    <input type="text" class="form-control" placeholder="e.g. £0.99" formControlName="Price">
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
                <button type="submit" [disabled]="drinkForm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>